// Library
@import url("../js/library/fontawesome/css/all.css");
@import url("../js/library/fontawesome/fontawesome/fontawesome.css");
@import url("../js/library/aos/aos.css");
@import url("../js/library/swiper/swiper-bundle.min.css");
@import url("../js/library/themify-icons/themify-icons.css");
@import url("../js/library/select2/select2.min.css");
@import url("../js/library/themifi/themify-icons.css");
@import url("../js/library/gallery/lightgallery.min.css");
@import url("../js/library/fancybox/fancybox.css");
// Core
@import "./core/reset";
@import "./core/mona";
@import "./core/variable";
@import "./core/font";
@import "./core/mixin";
@import "./core/base";
@import "./core/flex";

// Component
@import "./components/scroll";
@import "./components/header";
@import "./components/navbar";
@import "./components/burger";
@import "./components/mobile";
@import "./components/banner";
@import "./components/partner";
@import "./components/about";
@import "./components/slider";
@import "./components/wave";
@import "./components/product";
@import "./components/app";
@import "./components/library";
@import "./components/person";
@import "./components/news";
@import "./components/service";
@import "./components/footer";

// Layout
@import "./layouts/swpier";
@import "./layouts/components";
@import "./layouts/distance";
@import "./layouts/text";
@import "./layouts/btn";
// Pages
@import "./pages/home";
