.banner {
  //   height: 149.2422rem;
  min-height: 70.367vw;
  position: relative;
  padding: 8rem 0;
  &-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    img {
      width: 100%;
      height: calc(100% + 16rem);
      object-fit: cover;
    }
  }
  &-wrap {
    display: flex;
    flex-wrap: wrap;
    --col-gap: 2.4rem;
    --row-gap: 2.4rem;
    @include max(500px) {
      --col-gap: 1rem;
      --row-gap: 1rem;
    }
    justify-content: space-between;
    align-items: center;
    margin: 0 calc(var(--col-gap) / 2 * -1);
    margin-bottom: calc(var(--row-gap) * -1);
  }
  &-item {
    width: 50%;
    padding: 0 1.2rem;
    margin-bottom: 2.4rem;
    // @include max(639.9px) {
    //   width: 100%;
    // }
  }
  &-content {
    padding: 0 0 5rem 8rem;
    @include max(1070px) {
      padding: 0;
    }
    // height: 50rem;
    &-title {
      width: 60rem;
      font-size: 6.4rem;
      font-weight: 700;
      color: $color-pri;
      line-height: 6rem;
      @include max(1240px) {
        font-size: 4rem;
        width: 40rem;
      }
      @include max(800px) {
        width: 30rem;
        font-size: 3rem;
        line-height: 3rem;
      }
    }
    &-subTitle {
      @include max(1070px) {
        width: 30rem;
      }
      @include max(599.9px) {
        width: 20rem;
        font-size: 1.4rem;
      }
      @include max(499.9px) {
        width: 18rem;
        font-size: 1.2rem;
      }
      width: 47.5rem;
      margin: 2.4rem 0;
      font-size: 1.6rem;
      font-weight: 400;
      color: $color-text;
    }
    &-btn {
      @include btn;
      padding: 1.5rem 3rem;
      @include max(499.9px) {
        padding: 0.5rem 0.2rem;
        font-size: 1.2rem;
      }
    }
  }
  &-inner {
    width: calc(100 + ((100vw - 140.8rem) / 2));
  }
  &-img {
    padding-top: calc((877 / 1031) * 100%);
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }
  .mySwiper {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 39%;
    @include max(1200px) {
      position: static;
      z-index: 1;
    }
    margin: 2.4rem auto;
    width: 60.8rem;
    height: 10.1rem;
    box-shadow: 0px 5px 19px 0px rgba(51, 51, 51, 0.3);
    padding: 2rem 4rem;
    border-radius: 2rem;
    background-color: #fff;
    // position: absolute;
    // left: 5.5%;
    // bottom: 25%;
    @include max(620px) {
      width: 42rem;
      height: 10rem;
    }
    @include max(499.9px) {
      width: 10rem;
      padding: 2rem;
      margin: 1.2rem auto;
      height: 9rem;
    }
    .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
      cursor: pointer;
    }
    .swiper-slide-thumb-active {
      opacity: 1;
    }
  }
}
