.libra {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
  min-height: calc(882 / 1408 * 100vw);
  &-bg {
    //   height: 149.2422rem;
    width: 100%;
    height: 100%;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @include max(860px) {
      display: none;
    }
  }
  @include max(860px) {
    padding: 2rem 0;
  }
  &-content {
    // width: 100%;
    display: flex;
    flex-wrap: wrap;
    --col-gap: 8.3rem;
    --row-gap: 3.5rem;
    margin: 0 calc(var(--col-gap) / 2 * -1);
    margin-bottom: calc(var(--row-gap) * -1);
    align-items: center;
    @include max(1300px) {
      --col-gap: 2.4rem;
    }
  }
  &-item {
    width: calc(6 / 12 * 100%);
    @include max(860px) {
      width: calc(12 / 12 * 100%);
    }
  }
  &-left,
  &-right {
    padding: 0 calc(var(--col-gap) / 2);
    margin-bottom: var(--row-gap);
  }
  .libra-details-item {
  }
  .item {
    &-one {
      grid-row: 2/4;
    }
    &-two {
      grid-row: 1/3;
    }
    &-three {
      grid-row: 2/4;
    }
    &-four {
      grid-row: 4/6;
    }
    &-five {
      grid-row: 3/5;
    }
    &-six {
      grid-row: 4/6;
    }
    &-seven {
      grid-row: 6/8;
    }
    &-eight {
      grid-row: 5/7;
    }
    &-night {
      grid-row: 6/8;
    }
  }
  &-title {
    @include mainTitle;
    @include max(950.9px) {
      font-size: 4rem;
    }
  }
  &-subTitle {
    @include subTitle;
    @include max(950.9px) {
      font-size: 1.4rem;
      margin: 1.2rem 0;
    }
  }
  &-btn {
    @include btn;
  }
  &-details {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
    @include max(500px) {
      display: flex;
      flex-wrap: wrap;
      --col-gap: 2.4rem;
      --row-gap: 2.4rem;
      margin: 0 calc(var(--col-gap) / 2 * -1);
      margin-bottom: calc(var(--row-gap) * -1);
      gap: 0;
      &-item {
        width: calc(6 / 12 * 100%);
        padding: 0 calc(var(--col-gap) / 2);
        margin-bottom: var(--row-gap);
      }
    }
  }
  &-img {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 1.2rem;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .img {
    &-one {
      padding-top: calc(395.837 / 260 * 100%);
    }
    &-two {
      padding-top: calc(395.837 / 260 * 100%);
    }
    &-three {
      padding-top: calc(395.837 / 260 * 100%);
    }
    &-four {
      padding-top: calc(395.837 / 260 * 100%);
    }
    &-five {
      padding-top: calc(395.837 / 260 * 100%);
    }
    &-six {
      padding-top: calc(395.837 / 260 * 100%);
    }
  }
  &-wrap {
    position: relative;
    @include max(950.9px) {
      position: static;
    }
  }
  &-text {
    position: absolute;
    font-size: 1.2rem;
    color: $color-white;
    font-weight: 700;
    text-align: center;
    left: 6%;
    bottom: 5%;

    @include max(1210px) {
      position: static;
      color: $color-pri;
      br {
        display: none;
      }
    }
    @include max(860px) {
      margin-top: 1.2rem;
      //   display: none;
    }
  }
}
