.news {
  padding: 8rem 0;
  text-align: center;
  @include max(767px) {
    padding: 2rem 0;
  }
  &-title {
    @include mainTitle;
    @include max(700px) {
      font-size: 4rem;
    }
  }
  &-bottom {
    //   height: 149.2422rem;
    min-height: calc(882 / 1408 * 100vw);
    position: relative;
  }
  &-br {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
    img {
      width: 100%;
      height: calc(100% + 35rem);
      object-fit: cover;
    }
  }
  &-main {
    padding: 2rem 0;
  }
  &-details {
    --col-gap: 2rem;
    --row-gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--col-gap) / 2 * -1);
    margin-bottom: calc(var(--row-gap) * -1);
    &-item {
      width: calc(12 / 12 * 100%);
      padding: 0 calc(var(--col-gap) / 2);
      margin-bottom: var(--row-gap);
      &:nth-child(even) {
        .news-wrap {
          display: flex;
          flex-direction: row-reverse;
          align-items: flex-end;
        }
      }
    }
  }
  &-wrap {
    --col-gap: 2rem;
    --row-gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 calc(var(--col-gap) / 2 * -1);
    margin-bottom: calc(var(--row-gap) * -1);

    &-item {
      width: calc(6 / 12 * 100%);
      @include max(600px) {
        width: calc(12 / 12 * 100%);
      }
      padding: 0 calc(var(--col-gap) / 2);
      margin-bottom: var(--row-gap);
    }
    &-title {
      font-size: 3.2rem;
      font-weight: 700;
      color: $color-pri;
      @include max(700px) {
        font-size: 2.4rem;
      }
    }
    &-time {
      @include subTitle;
      margin: 0;
    }
    &-subTitle {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-text;
      margin: 1.6rem 0;
      @include max(700px) {
        margin: 1rem 0;
      }
      //   width: 42.3rem;
    }
    &-btn {
      display: inline-block;
      padding: 0.8rem 1.6rem;
      background-color: $color-white;
      border: 1px solid $color-pri;
      border-radius: 0.8rem;
      transition: all 0.5s;
      &:hover {
        background-color: $color-pri;
        border: 1px solid transparent;
        .text {
          color: $color-white;
        }
      }
      .text {
        color: $color-pri;
      }
    }
  }
  &-img {
    padding-top: calc((315 / 509) * 100%);
    position: relative;
    border-radius: 1.2rem;
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .item {
    &-top {
      text-align: left;
    }
    &-bottom {
      text-align: right;
      @include max(600px) {
        text-align: left;
      }
    }
  }
  &-mainBtn {
    @include btn;
    margin-top: 8rem;
  }
  &-mobileBottom {
    @include max(600px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
