.person {
  min-height: calc(882 / 1408 * 100vw);
  background-color: #151515;
  box-shadow: 0px 4px 19px 0px rgba(51, 51, 51, 0.3);
  position: relative;
  &-bg {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &-left {
    position: absolute;
    top: 50%;
    left: 0;
  }
  &-content {
    padding: 12rem 0;
    position: relative;
    z-index: 2;
    @include max(767px) {
      padding: 6rem 0;
    }
  }
  &-title {
    @include mainTitle;
    color: $color-white;
    margin-bottom: 8rem;
    text-align: center;
    @include max(500px) {
      font-size: 4rem;
      margin-bottom: 4rem;
    }
  }
  &-text {
    margin-top: 4rem;
    // width: 47.5rem;
    display: none;
    &-name {
      font-size: 3.2rem;
      color: $color-white;
      font-weight: 700;
      @include max(1528px) {
        font-size: 2.5rem;
      }
      @include max(1232px) {
        font-size: 1.6rem;
      }
    }
    &-positon {
      @include subTitle;
      color: $color-white;
      margin: 0.8rem 0 1.6rem;
    }
    &-subTitle {
      @include subTitle;
      color: $color-white;
      font-style: italic;
      @include max(1232px) {
        font-size: 1.4rem;
      }
    }
  }
  &-img {
    padding-top: calc(356 / 237 * 100%);
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
    border: 1px solid #fff;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }
  &-details {
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    --col-gap: 4rem;
    --row-gap: 2.4rem;
    margin: 0 calc(var(--col-gap) / 2 * -1);
    margin-bottom: calc(var(--row-gap) * -1);
    @include max(1000px) {
      --col-gap: 2.4rem;
    }
    @include max(998px) {
      flex-wrap: nowrap;
    }
  }
  &-wrap {
    @include max(998px) {
      padding: 0 2rem;
    }
  }
  &-item {
    padding: 0 calc(var(--col-gap) / 2);
    margin-bottom: var(--row-gap);
  }
  .swiper-slide {
    transform: scale(0.5);
    // &:first-child {
    //   transform: scale(0.5) translateX(-48%);
    // }
    // &:nth-child(2) {
    //   transform: scale(0.5) translateX(-120%);
    // }
    // &:nth-child(3) {
    //   transform: scale(0.5) translateX(-190%);
    // }
    // &:nth-child(4) {
    //   transform: scale(0.5) translateX(-260%);
    // }
    @include max(998px) {
      transform: scale(1);
    }
    &-active {
      transform: scale(1);
      // &:first-child {
      //   transform: scale(1) translateX(-48%);
      // }
      // &:nth-child(2) {
      //   transform: scale(1) translateX(-120%);
      // }
      // &:nth-child(3) {
      //   transform: scale(1) translateX(-190%);
      // }
      // &:nth-child(4) {
      //   transform: scale(1) translateX(-260%);
      // }
      .person-img {
        padding-top: calc((550 / 377) * 100%);
        position: relative;
        overflow: hidden;
        border-radius: 2rem;
        @include max(998px) {
          padding-top: calc((200 / 100) * 100%);
        }

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .person-text {
        display: block;
      }
    }
  }
}
