.service {
  padding: 8rem 0;
  text-align: center;
  background: linear-gradient(
    0deg,
    #f4f4f4 42.99%,
    rgba(217, 217, 217, 0) 95.66%
  );
  &-title {
    @include mainTitle;
    margin-bottom: 4rem;
  }
  &-content {
    width: 79.2rem;
    max-width: 100%;
    margin: 0 auto;
  }
  &-form {
    font-family: "Montserrat";
    display: flex;
    flex-wrap: wrap;
    --col-gap: 2.9rem;
    --row-gap: 2.4rem;
    margin: 0 calc(var(--col-gap) / 2 * -1);
    margin-bottom: calc(var(--row-gap) * -1);

    &-title {
      font-size: 1.8rem;
      color: $color-pri;
      font-weight: 700;
      margin-bottom: 0.4rem;
      font-family: "Montserrat";
    }
  }

  &-item {
    padding: 0 calc(var(--col-gap) / 2);
    margin-bottom: var(--row-gap);
  }
  &-firstName,
  &-lastName {
    width: calc(6 / 12 * 100%);
    @include max(670px) {
      width: 100%;
    }
  }
  &-email,
  &-mess {
    width: 100%;
  }
  .input {
    &-firstName,
    &-lastName,
    &-email {
      // width: 100%;
      padding: 0 1.6rem;
      border-radius: 0.8rem;
      outline: none;
      border: 1px solid transparent;
      height: 5.6rem;
      font-family: "Montserrat";
    }
    &-mess {
      font-family: "Montserrat";
      border-radius: 0.8rem;
      padding: 1.6rem;
      outline: none;
      border: 1px solid transparent;
    }
  }
  &-wrap {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  &-btn {
    @include btn;
    margin-top: 2.4rem;
  }
}
