.c-pri {
  color: $color-pri;
}

.c-second {
  color: $color-second;
}

.c-third {
  color: $color-third;
}

.c-four {
  color: $color-four;
}

.c-five {
  color: $color-five;
}

.c-white {
  color: white;
}

.c-black {
  color: $color-black;
}

.c-txt {
  color: $color-text;
}

.c-txt-s {
  color: $color-text-second;
}

.bc-pri {
  background-color: $color-pri;
}

.bc-second {
  background-color: $color-second;
}

.bc-third {
  background-color: $color-third;
}

.bc-four {
  background-color: $color-four;
}

.bc-five {
  background-color: $color-five;
}

.over-hd {
  overflow: hidden;
}

.z-i-1 {
  z-index: 1;
}

.z-i-2 {
  z-index: 2;
}

.z-i-3 {
  z-index: 3;
}

.z-i-4 {
  z-index: 4;
}

.z-i-5 {
  z-index: 5;
}

.m-mid {
  margin: 0 auto;
}

.m-end {
  margin-left: auto;
}

.m-top {
  margin-top: 2.4rem;
}

.m-start {
  margin-right: auto;
}

.f-mid {
  @include mid-flex;
}

.f-end {
  @include flex;
  justify-content: flex-end;
}

.fl {
  @include flex;
}

.fl-center {
  @include flex;
  align-items: center;
}

.f-space {
  @include flex;
  justify-content: space-between;
}

.icon-left {
  margin-right: 0.8rem;
}

.icon-right {
  margin-left: 0.8rem;
}

.lg-download,
#lg-actual-size,
#lg-share {
  display: none;
}

.lg-backdrop,
.lg-outer {
  z-index: 99999;
}

.lg-outer .lg-thumb-item {
  border: 0.2rem solid $color-pri;
  transition: 0.2s ease;

  &.active {
    border-color: $color-third;
  }

  @include hover {
    border-color: $color-third;
  }
}

.lg-prev.lg-icon {
  &::after {
    display: none;
  }
}

.lg-next.lg-icon {
  &::before {
    display: none;
  }
}

.lg-prev.lg-icon,
.lg-next.lg-icon {
  width: 4rem;
  height: 4rem;

  i {
    background: $color-pri-ln;
    @include txt-ln;
  }
}

.lg-outer .lg-thumb-outer {
  background-color: #000;
}

.lg-close.lg-icon {
  background: $color-pri-ln;
  @include txt-ln;
}

.lg-outer .lg-toogle-thumb {
  background: $color-pri-ln;
  @include txt-ln;
  width: 4rem;
  height: 4rem;
}

.lg-img-wrap {
  border-radius: 0.8rem;
}

.lg-thumb-item {
  border-radius: 0.8rem;
}

.lg-outer .lg-thumb {
  margin: 0 auto -5px;
}

.tabPanel {
  display: none;
}

.tabPanel-second {
}

table {
  .status {
    font-weight: 600;

    &.waiting {
      color: #f2c524;
    }

    &.success {
      color: $color-pri;
    }

    &.cancle {
      color: #d31d1d;
    }
  }
}

.slider {
  position: relative;
}

.relative {
  position: relative;
}

.head {
  margin-bottom: 4rem;

  &.space {
    @include flex-wr;
    gap: 1rem;
    justify-content: space-between;
  }
}

.hv-bd {
  position: relative;

  &::before {
    @include pseudo;
    @include full-size(1rem);
    border: 0.1rem solid white;
    z-index: 1;
    transition: 0.3s all ease-in-out;
    transform: scale(1.1);
    opacity: 0;
    border-radius: 1rem;
  }

  img {
    transition: 0.3s all ease-in-out;
  }

  @include hover {
    &::before {
      opacity: 1;
      transform: scale(1);
    }

    img {
      @include hover-scale;
    }
  }
}

.gItem {
  cursor: pointer;
}

.parallaxJS {
  img {
    position: relative;
  }
}

// .hidden-desk {
//     @include min($res-mobile-min) {
//         display: none !important;
//     }
// }

// .hidden-mobile {
//     // @include max($res-mobile) {
//     //     display: none !important;
//     // }
// }

.full {
  width: 100%;
}

.wp-block-image {
  border-radius: 0.8rem;

  img {
    display: block;
    margin: 0 auto;
  }
}

.br-F8F9FA {
  background-color: #f8f9fa;
}

.sh-btn,
.show-hide-btn {
  font-weight: 700;
  color: $color-pri;
  cursor: pointer;

  @include hover {
    text-decoration: underline;
  }
}

.re-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8e8e;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 100rem;
  padding: 1rem 3.2rem;
  border: 0.1rem solid #8e8e8e;
  width: fit-content;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  @include affter($color-pri);
  @include hoverAffter;
  white-space: nowrap;

  @include max(600px) {
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
  }

  > * {
    position: relative;
    z-index: 2;
  }

  @include hover {
    color: white;
    border-color: $color-pri;
  }

  &.active {
    color: white;
    border-color: $color-pri;

    &::after {
      left: 0;
      width: 100%;
    }
  }
}

.re-content {
  ul {
    li {
      padding-left: 2.4rem;
      position: relative;

      &:not(:last-child) {
        margin-bottom: 1.2rem;
      }

      &::before {
        @include pseudo;
        background-image: url(../assets/images/icon-tick.svg);
        left: 0;
        width: 1.6rem;
        height: 1.6rem;
        background-size: contain;
        background-repeat: no-repeat;
        top: 0.5rem;
      }
    }
  }
}

.head-filter {
  &-top {
    @include flex-wr;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;

    .right {
      width: 20rem;
      display: flex;
      align-items: center;
      gap: 0.4rem;

      // @include max($res-mobile) {
      //     width: 48.2rem;
      //     justify-content: space-between;
      // }

      @include max(800px) {
        width: 100%;
      }

      @include max(400px) {
        align-items: flex-end;
      }

      .re-select {
        flex: 1;
      }

      &-inner {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;

        // @include max($res-mobile) {
        //     width: 20rem;
        // }

        @include max(400px) {
          width: 16rem;
          flex-wrap: wrap;
          gap: 0.4rem;

          .title {
            width: 100%;
          }
        }
      }
    }

    .head-filter-search {
      flex: 1;

      // @include min($res-mobile-min) {
      //     display: none
      // }
    }
  }

  &-bot {
    @include flex-wr;
    align-items: center;
    gap: 2.4rem;
    justify-content: space-between;

    .left {
      width: 73rem;
      max-width: 100%;
    }

    .right {
      width: 28.2rem;
    }

    .head-filter-search {
      // @include max($res-mobile) {
      //     display: none
      // }
    }
  }

  &-slider {
    display: flex;
    align-items: center;
    gap: 1rem;

    .swiper {
      margin: 0;

      &-slide {
        width: fit-content !important;
      }
    }
  }

  &-search {
    &-wrap {
      @include flex;
      align-items: center;
      border: 0.1rem solid $color-pri;
      border-radius: 100rem;
      overflow: hidden;
      margin-left: auto;
      justify-content: space-between;

      width: fit-content;

      .re-input {
        padding: 0;
        color: $color-text;
        transition: 0.3s ease-in-out;
        padding: 1rem 2.4rem;

        &:focus {
          border-bottom-color: transparent;
        }

        @include input-placeholder {
          color: $color-text;
        }
      }

      &.active {
        .head-filter-search-input {
          max-width: 20rem;
        }

        .head-filter-search-btn-inner.js {
          pointer-events: none;
        }
      }
    }

    &-input {
      transition: 0.5s ease;
      flex: 1;
      max-width: 0;
      flex: unset;
    }

    &-btn {
      width: 4.4rem;
      height: 4.4rem;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      margin-left: auto;

      img {
        width: 2.4rem;
        height: 2.4rem;
        position: relative;
        top: 0.2rem;
      }

      &-inner {
        position: absolute;
        @include full;
        border-radius: 100rem;
        cursor: pointer;

        &.js {
        }
      }
    }
  }
}

.select-sort {
  .select2-container .select2-selection--single .select2-selection__rendered {
    color: $color-text;
    font-weight: 700;
  }

  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    border-color: $color-pri transparent transparent transparent;
  }

  .select2-container--default.select2-container--open
    .select2-selection--single
    .select2-selection__arrow
    b {
    border-color: transparent transparent $color-pri transparent;
  }

  .select2-container--default .select2-selection--single {
    border-bottom: 0.1rem solid #000;
  }
}

.tabNext,
.tabPrev {
  display: none;
}

.my-dropzone {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  padding: 2.4rem;
  text-align: center;
  cursor: pointer;
  position: relative;
  border: 0.1rem dashed white;
  display: block;

  > img {
    display: block;
    margin: 0 auto 1.6rem;
    width: 3.2rem;
  }

  &-inner {
  }
}

.fix {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  // transition: .5s $cubic;
  @include hidden(100%, 0);
  z-index: 50;

  @include max(768px) {
    right: 1rem;
  }

  &.active {
    @include show;
  }

  &-item {
  }

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 100rem;
    background-color: $color-pri;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;

    &::before {
      @include pseudo;
      @include full-size(-0.4rem);
      z-index: -1;
      border-radius: inherit;
      // transition: .5s $cubic;
      border: 0.1rem solid #90caf9;
    }

    @include hover {
      &::before {
        opacity: 0;
        transform: scale(1.2);
      }
    }

    img {
      width: 2rem;
    }
  }
}

.to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 100rem;
  background-color: $color-pri;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;

  @include hover {
    i {
      transform: translateY(-100%);
    }
  }

  .icon {
    width: 2rem;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: white;

    i {
      width: inherit;
      height: inherit;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s ease-in-out;
    }
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
