.t-title {
    @include fz-40;
    font-weight: 700;
    color: $color-pri;
    line-height: 1.3;

}

.t-title-24 {
    font-size: 2.4rem;
    font-weight: 700
}

.t-title-56 {
    @include fz-56;
    font-weight: 700;
    line-height: 1.2;

    @include max(700px) {
        font-size: 3.2rem;
    }
}

.t-title-icon {
    display: flex;
    font-weight: 700;
    font-size: 2.4rem;
    gap: 1rem;

    img {
        width: 2.4rem;
        height: 2.4rem;
        position: relative;
        top: .8rem
    }
}

.title-line {
    @include fz-24;
    font-weight: 700;
    position: relative;
    display: inline-block;
    z-index: 5;

    &::before {
        @include pseudo;
        height: .8rem;
        @include posi-horizontal;
        width: 0;
        background-color: #65D3FF;
        bottom: 0;
        z-index: -1;
        // transition: .3s $cubic;

        @include max(800px) {
            height: .6rem;
        }
    }

    .word {
        display: inline-flex;
        // overflow: hidden;
    }

    .chars {
        @include hidden(0, -2rem);
        // transition: 1s $cubic;
    }

    &.is-inview {
        &::before {
            width: 100%;
        }

        .chars {
            @include show;
        }
    }
}

.t-title-second {
    @include fz-24;
}

.t-center {
    text-align: center;
}

.fw-1 {
    font-weight: 100;
}

.fw-2 {
    font-weight: 200;
}

.fw-3 {
    font-weight: 300;
}

.fw-5 {
    font-weight: 500;
}

.fw-6 {
    font-weight: 600;
}

.fw-7 {
    font-weight: 700;
}

.fw-8 {
    font-weight: 800;
}

.fw-b {
    font-weight: bold;
}

.fsi {
    font-style: italic;
}

.t-up {
    text-transform: uppercase;
}

.t9 {
    @include fz-9
}

.t11 {
    @include fz-11
}

.t12 {
    @include fz-12
}

.t14 {
    @include fz-14
}

.t16 {
    @include fz-16
}

.t18 {
    @include fz-18
}

.t20 {
    @include fz-20
}

.t24 {
    @include fz-24
}

.t32 {
    @include fz-32
}

.t40 {
    @include fz-40
}

.t48 {
    @include fz-48
}

.t56 {
    @include fz-56
}

.t64 {
    @include fz-64
}

.t72 {
    @include fz-72
}